* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

section, main, nav {
    display: block;

}

main {
    position: relative;
    min-height: 1681px;
    background-color: #f0d5c0;
    padding-bottom: 144px;
    padding-top: 168px;
}

#wrapper {
    width: 1080px;
    height: 1849px;

}

header {
    height: 168px;
    background-color: #d78069;
    position: fixed;
    width: 1080px;
    z-index: 100;
    top: 0;
}

#foodstuffs {
    position: relative;
}

#dotsSection {
    height: 88px;
    background-color: #f7f0e7;
    text-align: center;
}

header > a {
    background-image: url('../images/hamburger.gif');
    width: 54px;
    height: 36px;
    display: block;
    position: relative;
    top: 66px;
    left: 52px;
}

#recipeMenuLogo{
    background-image: url('../images/recipe_icon.png');
    width: 93px;
    height: 89px;
    position: absolute;
    left:934px;
    top: 39px;
}


#headerTitle {
    color: #fff;
    font-size: 57px;
    position: absolute;
    top: 39px;
    left: 171px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
}

#dotsSection > section {
    display: inline-block;
    position: relative;
    top: 36px;
}

.dot {
    width: 14px;
    height: 14px;
    border: solid 1px #ac8c6d;
    border-radius: 7px;
    float: left;
    margin: 0 8px 0 8px;
}

.coloredDot {
    background-color: #ac8c6d;
}

#category {
    font-size: 53px;
    color: #d78069;
    position: relative;
    top: 44px;
    text-align: center;
    margin-bottom: 92px;
    font-weight: 700;
    font-family: 'Rokkitt', serif;
}

#leftArrow {
    position: absolute;
    background-image: url('../images/left_arrow_icon.gif');
    width: 54px;
    height: 38px;
    display: inline-block;
    top: 150px;
    left: 52px;
    z-index: 50;
    cursor: pointer;
}

#rightArrow {
    position: absolute;
    background-image: url('../images/right_arrow_icon.gif');
    width: 54px;
    height: 38px;
    display: inline-block;
    top: 150px;
    right: 52px;
    cursor: pointer;
}

span:active ,input:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.switch {
    margin: 24px;
}
.toggle{
    position: absolute;
    margin-right: -9999px;
    visibility: hidden;
}

input.toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    width: 856px;
    height: 124px;
    margin: 0 auto;
    font-weight: 300;
    font-style: italic;
    font-family: 'Titillium Web', sans-serif;
}

input.toggle + label:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: attr(data-on);
    text-align: center;
    line-height: 2.5;
    color: #8c6239;
    font-size: 48px;
    background-image: url('../images/swipe-button.png');
    background-position: right;
    transition: background-position 0.4s;
}

input.toggle:checked + label:before {
    background-position: left;
}

nav {
    background-color: #fff;
    width: 438px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: none;
    top: 0;
}

#navLogo {
    display: block;
    background-image: url('../images/nav-logo.png');
    background-position: center center;
    background-color: #d78069;
    background-repeat: no-repeat;
    width: 390px;
    height: 390px;
    padding: 24px;
    margin-bottom: 50px;
}

.navOption {
    display: block;
    color: #d78069;
    font-size: 43px;
    position: relative;
    text-decoration: none;
    left: 52px;
    padding-left: 56px;
    margin-bottom: 36px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.foodStuffOption{
    background: url('../images/foodstuff_menu_icon.png') no-repeat left center;
}

.recipesOption{
    background: url('../images/recipe_menu_icon.png') no-repeat left center;
}

.blackListOption{
    background: url('../images/blacklist_menu_icon.png') no-repeat left center;
}

.settingOption{
    background: url('../images/settings_menu_icon.png') no-repeat left center;
}

#exitOption {
    position: absolute;
    bottom: 60px;
    background: url('../images/exit_menu_icon.png') no-repeat left center;
}

.recipe {
    width: 1080px;
    height: 1379px;
    position: relative;

}

.meal {
    color: #d78069;
    font-size: 60px;
    position: relative;
    left: 113px;
    top: 46px;
    font-family: 'Rokkitt', sans-serif;
    font-weight: 700;
}

.bell {
    display: inline-block;
    background: url("../images/bell-icon.png") ;
    background-position: center center;
    background-repeat: no-repeat;
    width: 34px;
    height: 32px;
    position: absolute;
    left: 808px;
    top: 67px;
}

.time {
    width: 100px;
    height: 48px;
    display: inline-block;
    background-color: #d78069;
    color: #fff;
    font-size: 33px;
    position: absolute;
    top: 57px;
    left: 864px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.recipeImage {
    background: url("../images/recipe-image.png");
    width: 976px;
    height: 1049px;
    margin: 0 auto;
    position: relative;
    top: 94px;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
}

.recipe-btn {
    width: 482px;
    height: 146px;
    background-color: #fff;
    border: solid 3px #c8a78a;
    color: #cfbfb3;
    font-size: 40px;
    float: left;
    z-index: 99;
    position: relative;
    top: 94px;
    text-align: center;
    line-height: 3.5;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.ingredients-btn {
    margin-left: 52px ;
}

.recipeName {
    font-size: 65px;
    color: #fff;
    position: absolute;
    bottom: 112px;
    left: 61px;
    width: 600px;
    font-family: 'Rokkitt', sans-serif;
    font-weight: 400;

}

.recipeTimeToMake {
    position: absolute;
    left: 61px;
    bottom: 52px;
    font-size: 36px;
    color: #fff;
    background: url("../images/time-icon.png") no-repeat left center;
    padding-left: 58px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

.recipeServes {
    position: absolute;
    left: 388px;
    bottom: 52px;
    font-size: 36px;
    color: #fff;
    background: url("../images/plate-icon.png") no-repeat left center;
    padding-left: 58px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
footer > ul {
    position: relative;
    top: 24px;
}
footer > ul > li {
    display: inline;
}

footer > ul > li > a{
    color : #c0a894;
    font-size: 68px;
    font-family: 'Roboto', sans-serif;
    padding: 0 28px 0 28px;
}

footer {
    height: 144px;
    background-color: #a07954;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 1080px;
    z-index: 100;
}

.currentDay {
    color: #fff;
}

.pressed-btn {
    background-color: #c8a78a;
    border: solid 3px #c8a78a;
    color: #fff;
}

.bottom {
    width: 976px;
    height: 627px;
    background-color: #c8a78a;
    margin: 0 auto;
    overflow: auto;
}

.bottom-row {
    width: 928px;
    color: #c8a78a;
    background-color: #fff;
    font-size: 42px;
    margin: 24px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.bottom-row > p {
    padding: 40px;
}

.closedImage {
    height: 411px;
}

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }


.like {
    background-image: url("../images/heart.png");
    display: inline-block;
    width: 111px;
    height: 98px;
    position: absolute;
    bottom: 64px;
    right: 64px;
    cursor: pointer;
}

.likeFill {
    background-image: url("../images/heart_p.png");
    display: inline-block;
    width: 111px;
    height: 98px;
    position: absolute;
    bottom: 64px;
    right: 64px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.likeFill.liked{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.bottomContainer {
    overflow-y: auto;
    position: relative;
    top: 93px;
    height: 627px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
}

.bottomContainer.bottomHide {
    height: 0;
}

#darkBG {
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.lockScreen {
    overflow: hidden;
}

#timepicker{
    height: 737px;
    width: 849px;
    background-color: #f8f5f1;
    text-align: center;
    position:fixed;
    top: 226px;
    left: 117px;
    z-index: 1000;
}

#mealTimeTitle{
    color: #8c6239;
    font-family: 'Titillium Web', sans-serif;
    font-size: 52px;
    display: inline-block;
    position: relative;
    top: 68px;
}

#leftTopArrow{
    background-image: url("../images/time_top_arrow.png");
    height: 22px;
    width: 38px;
    display: inline-block;
    position: absolute;
    top: 186px;
    left: 238px;
    z-index: 1001;
}

#leftBottomArrow{
    background-image: url("../images/time_bottom_arrow.png");
    height: 22px;
    width: 38px;
    display: inline-block;
    position: absolute;
    left: 238px;
    bottom: 218px;
    z-index: 1001;

}

#rightTopArrow{
    background-image: url("../images/time_top_arrow.png");
    height: 22px;
    width: 38px;
    display: inline-block;
    position: absolute;
    top: 186px;
    right: 236px;
    z-index: 1001;
}

#rightBottomArrow{
    background-image: url("../images/time_bottom_arrow.png");
    height: 22px;
    width: 38px;
    display: inline-block;
    position: absolute;
    right: 236px;
    bottom: 218px;
    z-index: 1001;
}

#timePickerTime{
    color: #caac91;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 248px;
    position: absolute;
    top:160px;
    right: 123px;

}

#doneTimepicker{
    height: 80px;
    width: 300px;
    background-color: #d78069;
    position: absolute;
    left: 112px;
    bottom: 71px;
    font-size: 40px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;

}

#cancelTimepicker{
    height: 80px;
    width: 300px;
    background-color: #d78069;
    position: absolute;
    right: 112px;
    bottom: 71px;
    font-size: 40px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

#cancelTimepicker > p {
    position: relative;
    top:8px;
}

#doneTimepicker > p {
    position: relative;
    top: 8px;
}