* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

section, main, nav {
    display: block;

}

main {
    position: relative;
    min-height: 1681px;
    background-color: #cccccc;
    padding-bottom: 144px;
    padding-top: 168px;
}

#wrapper {
    width: 1080px;
    height: 1849px;

}

header {
    height: 168px;
    background-color: #4d4d4d;
    position: fixed;
    width: 1080px;
    z-index: 100;
    top: 0;
}

#foodstuffs {
    position: relative;
}

#dotsSection {
    height: 88px;
    background-color: #e6e6e6;
    text-align: center;
}

header > a {
    background-image: url('../images/hamburger.gif');
    width: 54px;
    height: 36px;
    display: block;
    position: relative;
    top: 66px;
    left: 52px;
}

header > a:hover {
    background-image: url('../images/hamburger-hover.gif');
}

#headerTitle {
    color: #fff;
    font-size: 59px;
    position: absolute;
    top: 42px;
    left: 171px;
    font-weight: 500;
}

#dotsSection > section {
    display: inline-block;
    position: relative;
    top: 36px;
}

.dot {
    width: 14px;
    height: 14px;
    border: solid 1px #4d4d4d;
    float: left;
    margin: 0 8px 0 8px;
}

.coloredDot {
    background-color: #4d4d4d;
}

#category {
    font-size: 53px;
    color: #444;
    position: relative;
    top: 44px;
    text-align: center;
    margin-bottom: 92px;
}

#leftArrow {
    position: absolute;
    background-image: url('../images/left_arrow_icon.gif');
    width: 54px;
    height: 38px;
    display: inline-block;
    top: 150px;
    left: 52px;
    z-index: 50;
    cursor: pointer;
}

#rightArrow {
    position: absolute;
    background-image: url('../images/right_arrow_icon.gif');
    width: 54px;
    height: 38px;
    display: inline-block;
    top: 150px;
    right: 52px;
    cursor: pointer;
}

#rightArrow:hover , #leftArrow:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

.switch {
    margin: 24px;
}
.toggle{
    position: absolute;
    margin-right: -9999px;
    visibility: hidden;
}

input.toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    width: 856px;
    height: 128px;
    margin: 0 auto;
}

input.toggle + label:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: attr(data-on);
    text-align: center;
    line-height: 2.5;
    color: #444444;
    font-size: 48px;
    background-image: url('../images/swipe-button.png');
    background-position: right;
    transition: background-position 0.4s;
}

input.toggle:checked + label:before {
    background-position: left;
}

nav {
    background-color: #fff;
    width: 438px;
    height: 1849px;
    position: fixed;
    z-index: 1000;
    display: none;
    top: 0;
}

#navLogo {
    display: block;
    background-image: url('../images/nav-logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 390px;
    height: 390px;
    padding: 24px;
    margin-bottom: 11px;
}

.navOption {
    display: block;
    color: #444;
    font-size: 46px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    left: 52px;
    background: url('../images/navIcon.png') no-repeat left center;
    padding-left: 56px;
    margin-bottom: 36px;
}

#exitOption {
    position: absolute;
    bottom: 62px;
}

.recipe {
    width: 1080px;
    height: 1379px;
    position: relative;

}

.meal {
    color: #444;
    font-size: 52px;
    position: relative;
    left: 113px;
    top: 46px;
}

.bell {
    display: inline-block;
    background: url("../images/bell-icon.png") ;
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 808px;
    top: 73px;
}

.time {
    width: 100px;
    height: 48px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 36px;
    position: absolute;
    top: 57px;
    left: 864px;
    text-align: center;
}

.recipeImage {
    background: url("../images/recipe-image.png");
    width: 976px;
    height: 1049px;
    margin: 0 auto;
    position: relative;
    top: 94px;
}

.recipe-btn {
    width: 482px;
    height: 146px;
    background-color: #f2f2f2;
    border: solid 3px #666;
    color: #333;
    font-size: 40px;
    float: left;
    z-index: 99;
    position: relative;
    top: 94px;
    text-align: center;
    line-height: 3.5;
}

.ingredients-btn {
    margin-left: 52px ;
}

.recipeName {
    font-size: 52px;
    color: #444;
    position: absolute;
    bottom: 112px;
    left: 61px;
}

.recipeTimeToMake {
    position: absolute;
    left: 61px;
    bottom: 52px;
    font-size: 42px;
    color: #444;
    background: url("../images/navIcon.png") no-repeat left center;
    padding-left: 58px;
}

.recipeServes {
    position: absolute;
    left: 388px;
    bottom: 52px;
    font-size: 42px;
    color: #444;
    background: url("../images/navIcon.png") no-repeat left center;
    padding-left: 58px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
footer > ul {
    position: relative;
    top: 24px;
}
footer > ul > li {
    display: inline;
}

footer > ul > li > a{
    color : #999;
    font-size: 68px;
    padding: 0 28px 0 28px;
}

footer {
    height: 144px;
    background-color: #000;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 1080px;
    z-index: 100;
}

.currentDay {
    color: #fff;
}

/* add */
.pressed-btn {
    background-color: #999;
    border: solid 3px #999;
    color: #fff;
}

/* add */
.bottom {
    width: 976px;
    height: 627px;
    background-color: #999;
    position: relative;
    top: 94px;
    margin: 0 auto;
    overflow: auto;
}

/* add */
.bottom-row {
    width: 928px;
    color: #444;
    background-color: #fff;
    font-size: 42px;
    margin: 24px;
}

/* add */
.bottom-row > p {
    padding: 40px;
}

.closedImage {
    height: 411px;
}